<footer>
    <div class="column-footer">
        <div class="row1-footer">
            <div class="menu-footer">
                <ul>
                    <li>
                        <a href="#">SHOP</a>
                    </li>
                    <li>
                        <a href="#">REGISTRARSE</a>
                    </li>
                    <li>
                        <a href="#">INGRESAR</a>
                    </li>
                    <li>
                        <a href="#">CONTACTO</a>
                    </li>
                </ul>
            </div>
            <div class="logo-footer">                    
                <img src="./images/svg/logo-footer.svg" alt="logo FunkoShop sin texto">
            </div>
        </div>
        <div class="row2-footer">
            <p>All rights reserved 2022 - Funkoshop of Gonzalo Gonzalez &copy;</p>
        </div>
    </div>        
</footer>
<script src="./js/main.js"></script>
</html>