<header>
    <nav>
        <img src="./images/svg/Frame.svg" alt="FunkoShop Logo" class="logo">            
        <ul>
            <li>
                <select name="" id="">
                    <option selected="true" disabled="disabled">SHOP</option>
                    <option value="1">1</option>
                </select>
            </li>
            <li>CONTACTO</li>
            <li>LOGIN</li>
            <li><img src="./images/svg/cart-icon.svg" alt=""></li>
        </ul>
    </nav>
</header>